*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  width: 100%;
}

body {
  font-size: 1.6rem;
  color: #000;
  background: linear-gradient(180deg, #f5f5f5 8%, #fff 8%, #fff 20%, #202020 20%, #202020 26.5%, #ececec 26.5%, #ececec 100%);
  height: 200vh;
}

.pageContainer {
  width: 100%;
  max-width: 130rem;
  padding-inline: 2rem;
  box-sizing: border-box;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 2rem;
  display: block;
}

.welcome,
.logo {
  display: flex;
  justify-content: space-between;
  padding-block: 1.6rem;
}

.searchBoxContainer {
  background-color: #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  position: relative;
  align-self: center;
  width: 50%;
}
.searchBoxContainer .searchIconContainer {
  display: inline-block;
  height: 4.5rem;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.searchBoxContainer .searchIconContainer.searchIconContainer:hover {
  cursor: pointer;
}
.searchBoxContainer .searchIconContainer .fa-magnifying-glass {
  font-size: 2rem;
}
.searchBoxContainer #searchBox {
  background-color: #ececec;
  font-size: 1.6rem;
  border: none;
  outline: none;
  width: 100%;
}

.fa-user {
  padding-right: 1rem;
}

.one {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  cursor: pointer;
}
.one:hover {
  color: #fd0202;
}
.one.wishList .one.wishList {
  margin-inline: 3rem 4%;
}
.one i {
  font-size: 3rem;
  color: rgb(255, 123, 0);
}
.one i,
.one span:hover {
  cursor: pointer;
}

img[alt=logo] {
  margin-right: 5%;
  -o-object-fit: contain;
     object-fit: contain;
}

.navBar > a {
  color: white;
  margin-right: 3rem;
  padding-block: 1rem;
}
.navBar > a:first-child {
  border-bottom: 0.3rem solid #fd0202;
  color: #fd0202;
}
.navBar > a:hover {
  border-bottom: 0.3rem solid #fd0202;
  color: #fd0202;
}
.navBar > div {
  color: white;
  margin-right: 3rem;
  padding-block: 1rem;
  cursor: pointer;
}
.navBar > div:hover {
  border-bottom: 0.3rem solid #fd0202;
  color: #fd0202;
}

span.account {
  position: relative;
  padding-bottom: 1rem;
}
span.account .acountBoard {
  z-index: 2;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  row-gap: 2rem;
  box-shadow: 0px 0px 1px #535151;
  background-color: white;
  color: #535151;
  top: 100%;
  right: 0;
  font-size: 0.9em;
  height: 0;
  justify-content: center;
  padding-inline: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 0.5s ease-in-out, height 0.7s ease-in-out;
  overflow-y: hidden;
}
span.account .acountBoard a:hover {
  color: #959595;
}
span.account:hover .acountBoard,
span.account .acountBoard:hover {
  height: 17rem;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in-out, height 0.3s ease-in-out;
}

.welcome span a.word:hover {
  color: #0242f1;
}

.navBar {
  display: flex;
  z-index: 2;
}
.navBar a:nth-child(-n+3) {
  z-index: 2;
}
.navBar a:nth-child(-n+3) > div {
  padding-bottom: 8rem;
  width: 100%;
  max-width: 130rem;
  margin: auto;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(5rem);
  transition: all 0.3s ease-in-out;
}
.navBar a:nth-child(-n+3):hover > div {
  visibility: visible;
  opacity: 1;
  transform: translateY(1.6rem);
}

.homeContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: relative;
  height: 20rem;
  cursor: default;
  width: 80%;
  margin: auto;
  width: 100%;
  max-width: 130rem;
  padding-inline: 2rem;
  box-sizing: border-box;
  margin: auto;
  padding-inline: 2rem;
  align-items: start;
}
.homeContainer > * {
  border-bottom: none;
}
.homeContainer .homeImgAnchor {
  display: inline-block;
  grid-column: 4/6;
  grid-row: 1/6;
  width: 100%;
  height: 120%;
  position: relative;
  text-decoration: none;
  border-bottom: none;
  background: #535151;
  padding: 0;
  border: 0;
}
.homeContainer .homeImgAnchor:hover > div {
  color: #ff0000;
}
.homeContainer .homeImgAnchor img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.homeContainer .homeImgAnchor div {
  font-weight: 400;
  position: absolute;
  padding-inline: 2rem;
  padding-block: 1rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  transition: none !important;
  background-color: #959595;
  color: #fff;
}
.homeContainer > div {
  width: 15rem;
}
.homeContainer .homeElement {
  color: #202020;
  cursor: normal;
}
.homeContainer .homeElement a:hover {
  color: #ff0000;
}
.homeContainer .homeElement a:hover .red {
  padding-inline: 0.25rem;
  background-color: #ff0000;
  margin-right: 1rem;
  margin-left: 0rem;
}
.homeContainer .homeElement .red {
  display: inline-block;
  height: 0.6rem;
  background: #202020;
  margin-right: 0.1rem;
  margin-left: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.homeContainer .homeElement a {
  color: inherit;
  transition: all 0.3s ease-in-out;
}
.homeContainer .homeElement a:hover {
  color: #ff0000;
}
.homeContainer > * {
  visibility: hidden;
  opacity: 0;
  transform: translateY(5rem);
  transition: all 0.3s ease-in-out 0.15s;
}

.editWishList {
  white-space: nowrap;
}

.outerContainer {
  min-width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  top: 17rem;
  z-index: 0;
  cursor: auto !important;
}

a.homeAnchor {
  position: unset !important;
}

.shopContainer {
  width: 100%;
  max-width: 130rem;
  padding-inline: 2rem;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: default;
  padding-inline: 2rem;
}
.shopContainer > div {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: start;
}
.shopContainer .shopImgAnchor {
  width: 40%;
  height: 100%;
  position: relative;
  text-decoration: none;
  border-bottom: none;
  padding: 0;
  border: 0;
  margin-top: 1.5rem;
}
.shopContainer .shopImgAnchor:hover > div {
  color: #ff0000;
}
.shopContainer .shopImgAnchor img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.shopContainer .shopImgAnchor div {
  font-weight: 400;
  position: absolute;
  padding-inline: 2rem;
  padding-block: 1rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  transition: none !important;
  color: #fff;
  background-color: #959595;
}
.shopContainer > div {
  width: 20rem;
  color: #202020;
  cursor: normal;
}
.shopContainer > div a:hover {
  cursor: pointer;
  color: #ff0000;
}
.shopContainer > div a:hover .red {
  padding-inline: 0.25rem;
  background-color: #ff0000;
  margin-right: 1rem;
  margin-left: 0rem;
}
.shopContainer > div .red {
  display: inline-block;
  height: 0.6rem;
  background: #202020;
  margin-right: 0.1rem;
  margin-left: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.shopContainer > div a {
  color: inherit;
  transition: all 0.3s ease-in-out;
}
.shopContainer > div a:hover {
  color: #ff0000;
}
.shopContainer > div > * {
  visibility: hidden;
  opacity: 0;
  transform: translateY(1.5rem);
  transition: all 0.3s ease-in-out 0.15s;
}

a.shopAnchor:hover * {
  visibility: visible;
  opacity: 1;
}

.page {
  position: relative;
  z-index: 2;
}

div.pageList {
  cursor: default;
  position: absolute;
  background: #f5f5f5;
  width: -moz-max-content;
  width: max-content;
  padding: 1.5rem;
  color: #202020;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);
  transition: all 0.3s ease-in-out;
}
div.pageList a:hover {
  cursor: pointer;
  color: #ff0000;
}
div.pageList a:hover .red {
  padding-inline: 0.25rem;
  background-color: #ff0000;
  margin-right: 1rem;
  margin-left: 0rem;
}
div.pageList .red {
  display: inline-block;
  height: 0.6rem;
  background: #202020;
  margin-right: 0.1rem;
  margin-left: 0.25rem;
  transition: all 0.3s ease-in-out;
}
div.pageList > * {
  display: block;
  margin-block: 1rem;
}

div.page:hover .pageList {
  opacity: 1;
  visibility: visible;
  transform: translateY(1.3rem);
}

.glide {
  margin: 0 auto;
  width: 100%;
}

.glide__slide {
  background-color: #ccc;
  text-align: center;
  padding: 0;
  color: #fff;
  font-size: 24px;
  width: 100%;
}

.glide__slides {
  overflow: hidden;
}

.slide-content {
  height: 635px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slide-content img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-content .redBicycle {
  transform: scale(1.2);
}
.glide__slide.glide__slide--active .slide-content img.whiteBicycle {
  transform: scale(1.2);
  transition: transform 3s ease-in-out;
}
.glide__slide.glide__slide--active .slide-content img.redBicycle {
  transform: scale(1);
  transition: transform 3s ease-in-out;
}
.glide__slide.glide__slide--active .slide-content .abs.span.red {
  left: 20px;
  transition: left 0.5s ease-in-out 0.1s;
}
.glide__slide.glide__slide--active .slide-content .abs.h1.red {
  left: 20px;
  transition: left 0.5s ease-in-out 0.5s;
}
.glide__slide.glide__slide--active .slide-content .abs.startingAt.red {
  left: 20px;
  transition: left 0.5s ease-in-out 0.9s;
}
.glide__slide.glide__slide--active .slide-content .abs.shopNow.red {
  left: 20px;
  transition: left 0.5s ease-in-out 1.3s;
}
.glide__slide.glide__slide--active .slide-content .abs.span.white {
  top: 40px;
  transition: top 0.5s ease-in-out 0.1s;
}
.glide__slide.glide__slide--active .slide-content .abs.h1.white {
  top: 110px;
  transition: top 0.5s ease-in-out 0.5s;
}
.glide__slide.glide__slide--active .slide-content .abs.startingAt.white {
  top: 360px;
  transition: top 0.5s ease-in-out 0.9s;
}
.glide__slide.glide__slide--active .slide-content .abs.shopNow.white {
  top: 500px;
  transition: top 0.5s ease-in-out 1.3s;
}

.glide__arrows {
  position: relative;
  top: -350px;
}

.glide__arrow {
  position: absolute;
  top: 0;
  border-radius: 50%;
  display: block;
  width: 50px;
  height: 50px;
  font-weight: 400;
  font-size: 1.2em;
  outline: none;
  border: 1px solid white;
  background: transparent;
  color: white;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.glide__arrow--next {
  right: 0;
}

.glide__slides {
  display: flex;
  flex: 0 0 100%;
  -moz-column-gap: 0;
       column-gap: 0;
}

.abs.red {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 100%;
  text-align: left;
  white-space: nowrap;
}

.abs.white {
  position: absolute;
  top: -100%;
  z-index: 1;
  left: 20px;
  text-align: left;
  white-space: nowrap;
}

.textContainer {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.shopNow {
  display: block;
  text-decoration: none;
}
.shopNow > div {
  padding: 1.5rem 3rem;
  color: black;
  background: white;
  transition: all 0.5s;
}
.shopNow:hover div {
  color: white;
  background: red;
}

.startingAt {
  padding-left: 10px;
  border-left: 1px solid red;
  font-size: 0.7em;
}
.startingAt h2 {
  margin: 0;
  color: red;
  font-size: 3.5em;
}

.abs.span {
  color: red;
}

.abs.h1 {
  margin: 0;
  font-size: 3.5em;
}

.abs.red:nth-child(1) {
  top: 40px;
}

.abs.red:nth-child(2) {
  top: 110px;
}

.abs.red:nth-child(3) {
  top: 360px;
}

.abs.red:nth-child(4) {
  top: 500px;
}

.categoriesBox {
  margin-top: 4rem;
}

* {
  box-sizing: border-box;
}

.byCategoryBox {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: stretch;
  font-size: 2.5em;
}
.byCategoryBox .bigSquare {
  padding: 25px 30px;
  margin-top: 15px;
  background: #fd0202;
}
.byCategoryBox .head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.byCategoryBox .head span:nth-child(2) {
  font-size: 0.4em;
}

.categories {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  margin-block: 50px 80px;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
}
.categories .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.categories .category::after {
  content: "";
  position: absolute;
  width: 2px;
  top: 75%;
  background: red;
  bottom: 25%;
  transition: bottom 0.5s;
}
.categories .category:hover::after {
  bottom: 10%;
}
.categories .category:hover a {
  color: red;
}
.categories .category img {
  transition: transform 0.5s;
}
.categories .category:hover img {
  transform: scale(1.1);
}
.categories .category a {
  text-decoration: none;
  color: black;
  margin-block: 1.3rem 0.3rem;
  font-weight: 800;
}
.categories .category span {
  color: Gray;
}
.categories .category span span {
  color: red;
}/*# sourceMappingURL=styleGpt.css.map */