$var-color1: #f5f5f5;
$var-color3: #fff;
$var-color2: #202020;
$var-color4: #ececec;
$var-color5: #959595;
$var-color6: #fd0202;
$var-color7: #535151;
$var-color8: #0242f1;
$var-color9: #ff0000;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  width: 100%;
}

body {
  font-size: 1.6rem;
  color: #000;
  // background: linear-gradient(
  //   180deg,
  //   $var-color1 8%,
  //   $var-color3 8%,
  //   $var-color3 20%,
  //   $var-color2 20%,
  //   $var-color2 26.5%,
  //   $var-color4 26.5%,
  //   $var-color4 100%
  // );
  height: 200vh;
}

@mixin eighty {
  width: 100%;
  max-width: 130rem;
  padding-inline: 2rem;
  box-sizing: border-box;
  margin: auto;
}

.pageContainer {
  @include eighty;
  // position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-inline: 2rem;
  display: block;
}

.welcome,
.logo {
  display: flex;
  justify-content: space-between;
  padding-block: 1.6rem;
}

.searchBoxContainer {
  background-color: #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  position: relative;
  align-self: center;
  width: 50%;
  .searchIconContainer {
    display: inline-block;
    height: 4.5rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;

    &.searchIconContainer:hover {
      cursor: pointer;
    }

    .fa-magnifying-glass {
      font-size: 2rem;
    }
  }

  #searchBox {
    background-color: $var-color4;
    font-size: 1.6rem;
    border: none;
    outline: none;
    width: 100%;
  }
}

.fa-user {
  padding-right: 1rem;
}

.one {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
  &:hover {
    color: $var-color6;
  }
  &.wishList {
    .one.wishList {
      margin-inline: 3rem 4%;
    }
  }

  i {
    font-size: 3rem;
    color: rgb(255, 123, 0);
  }

  i,
  span:hover {
    cursor: pointer;
  }
}

img[alt="logo"] {
  margin-right: 5%;
  object-fit: contain;
}

.navBar {
  > a {
    color: white;
    margin-right: 3rem;
    padding-block: 1rem;
    @mixin NavHoverStyles {
      border-bottom: 0.3rem solid $var-color6;
      color: $var-color6;
    }
    &:first-child {
      @include NavHoverStyles;
    }
    &:hover {
      @include NavHoverStyles;
    }
  }
  > div {
    color: white;
    margin-right: 3rem;
    padding-block: 1rem;
    @mixin NavHoverStyles {
      border-bottom: 0.3rem solid $var-color6;
      color: $var-color6;
    }
    &:hover {
      @include NavHoverStyles;
    }
    cursor: pointer;
  }
}

span.account {
  position: relative;
  padding-bottom: 1rem;
  .acountBoard {
    z-index: 2;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    row-gap: 2rem;
    box-shadow: 0px -0px 1px $var-color7;
    background-color: white;
    color: $var-color7;
    top: 100%;
    right: 0;
    font-size: 0.9em;
    height: 0;
    justify-content: center;
    padding-inline: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1.5s, opacity 0.5s ease-in-out,
      height 0.7s ease-in-out;
    overflow-y: hidden;
    a:hover {
      color: $var-color5;
    }
  }
  &:hover .acountBoard,
  .acountBoard:hover {
    height: 17rem;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s ease-in-out, height 0.3s ease-in-out;
  }
}

.welcome {
  span {
    a {
      &.word:hover {
        color: $var-color8;
      }
    }
  }
}

.navBar {
  display: flex;
  z-index: 2;
  a:nth-child(-n + 3) {
    z-index: 2;
    // background-color: green;
    > div {
      // height: 100px;
      padding-bottom: 8rem;

      width: 100%;
      max-width: 130rem;
      margin: auto;
      left: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      transform: translateY(5rem);
      transition: all 0.3s ease-in-out;
    }
    &:hover > div {
      visibility: visible;
      opacity: 1;
      transform: translateY(1.6rem);
    }
  }
}
.homeContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: relative;
  height: 20rem;
  cursor: default;
  width: 80%;
  margin: auto;
  @include eighty;
  padding-inline: 2rem;
  align-items: start;
  > * {
    border-bottom: none;
  }
  .homeImgAnchor {
    display: inline-block;
    grid-column: 4/6;
    grid-row: 1/6;
    width: 100%;
    height: 120%;
    position: relative;

    text-decoration: none;
    border-bottom: none;
    background: $var-color7;
    padding: 0;
    border: 0;
    &:hover > div {
      color: $var-color9;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    div {
      font-weight: 400;
      position: absolute;
      padding-inline: 2rem;
      padding-block: 1rem;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      transition: none !important;
      background-color: $var-color5;
      color: $var-color3;
    }
  }

  > div {
    width: 15rem;
  }
  .homeElement {
    color: $var-color2;
    cursor: normal;

    a:hover {
      color: $var-color9;
      .red {
        padding-inline: 0.25rem;
        background-color: $var-color9;
        margin-right: 1rem;
        margin-left: 0rem;
      }
    }

    .red {
      display: inline-block;
      height: 0.6rem;
      background: $var-color2;
      margin-right: 0.1rem;
      margin-left: 0.25rem;
      transition: all 0.3s ease-in-out;
    }

    a {
      color: inherit;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $var-color9;
      }
    }
  }
  > * {
    visibility: hidden;
    opacity: 0;
    transform: translateY(5rem);
    transition: all 0.3s ease-in-out 0.15s;
  }
}

.editWishList {
  white-space: nowrap;
}

.outerContainer {
  min-width: 100%;
  background-color: $var-color1;
  position: absolute;
  left: 0;
  top: 17rem;
  z-index: 0;
  cursor: auto !important;
}

a.homeAnchor {
  position: unset !important;
}

// shopContainer
.shopContainer {
  @include eighty;
  display: flex;
  justify-content: space-between;
  > div {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: start;
  }

  position: relative;
  // top: -1.5rem;
  cursor: default;
  padding-inline: 2rem;
  // align-items: start;
  .shopImgAnchor {
    width: 40%;
    height: 100%;
    position: relative;
    text-decoration: none;
    border-bottom: none;
    padding: 0;
    border: 0;
    margin-top: 1.5rem;
    &:hover > div {
      color: $var-color9;
    }
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    div {
      font-weight: 400;
      position: absolute;
      padding-inline: 2rem;
      padding-block: 1rem;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      transition: none !important;
      color: $var-color3;
      background-color: $var-color5;
    }
  }
  > div {
    width: 20rem;
    color: $var-color2;
    cursor: normal;
    a:hover {
      cursor: pointer;
      color: $var-color9;
      .red {
        padding-inline: 0.25rem;
        background-color: $var-color9;
        margin-right: 1rem;
        margin-left: 0rem;
      }
    }

    .red {
      display: inline-block;
      height: 0.6rem;
      background: $var-color2;
      margin-right: 0.1rem;

      margin-left: 0.25rem;
      transition: all 0.3s ease-in-out;
    }

    a {
      color: inherit;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $var-color9;
      }
    }
  }
  > div > * {
    visibility: hidden;
    opacity: 0;
    transform: translateY(1.5rem);
    transition: all 0.3s ease-in-out 0.15s;
  }
}

a.shopAnchor:hover * {
  visibility: visible;
  opacity: 1;
}
.page {
  position: relative;
  z-index: 2;
}

div.pageList {
  cursor: default;
  position: absolute;
  background: $var-color1;
  width: max-content;
  padding: 1.5rem;
  color: $var-color2;
  a:hover {
    cursor: pointer;
    color: $var-color9;
    .red {
      padding-inline: 0.25rem;
      background-color: $var-color9;
      margin-right: 1rem;
      margin-left: 0rem;
    }
  }
  .red {
    display: inline-block;
    height: 0.6rem;
    background: $var-color2;
    margin-right: 0.1rem;

    margin-left: 0.25rem;
    transition: all 0.3s ease-in-out;
  }
  & > * {
    display: block;
    margin-block: 1rem;
  }
  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);
  transition: all 0.3s ease-in-out;
}

div.page:hover .pageList {
  opacity: 1;
  visibility: visible;
  transform: translateY(1.3rem);
}

//carousel stylings Start
.glide#carousel-1 {
  // Container styles
  margin: 0 auto;
  width: 100%;
  // height: 635px;

  // Slide styles
  .glide__slide {
    background-color: #ccc;
    text-align: center;
    padding: 0;
    color: #fff;
    font-size: 24px;
    width: 100%;
  }

  .glide__slides {
    overflow: hidden;
  }

  // Slide content styles
  .slide-content {
    height: 635px; // chỉ chỉnh height của img ở đây
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    .redBicycle {
      transform: scale(1.2);
    }
  }
  // Active slide content img styles
  .glide__slide.glide__slide--active {
    img.whiteBicycle {
      transform: scale(1.2);
      transition: transform 3s ease-in-out;
    }

    img.redBicycle {
      transform: scale(1);
      transition: transform 3s ease-in-out;
    }
    .abs.span.red {
      left: 20px;
      transition: left 0.5s ease-in-out 0.1s;
    }

    .abs.h1.red {
      left: 20px;
      transition: left 0.5s ease-in-out 0.5s;
    }

    .abs.startingAt.red {
      left: 20px;
      transition: left 0.5s ease-in-out 0.9s;
    }

    .abs.shopNow.red {
      left: 20px;
      transition: left 0.5s ease-in-out 1.3s;
    }

    .abs.span.white {
      top: 40px;
      transition: top 0.5s ease-in-out 0.1s;
    }

    .abs.h1.white {
      top: 110px;
      transition: top 0.5s ease-in-out 0.5s;
    }

    .abs.startingAt.white {
      top: 360px;
      transition: top 0.5s ease-in-out 0.9s;
    }

    .abs.shopNow.white {
      top: 500px;
      transition: top 0.5s ease-in-out 1.3s;
    }
  }

  // Glide arrows styles
  .glide__arrows {
    position: relative;
    top: -350px;
  }

  .glide__arrow {
    position: absolute;
    top: 0;
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    font-weight: 400;
    font-size: 1.2em;
    outline: none;
    border: 1px solid white;
    background: transparent;
    color: white;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
  }

  .glide__arrow--next {
    right: 0;
  }

  .glide__slides {
    display: flex;
    flex: 0 0 100%;
    column-gap: 0;
  }

  // Text first position styles
  .abs.red {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 100%;
    text-align: left;
    white-space: nowrap;
  }

  .abs.white {
    position: absolute;
    top: -100%;
    z-index: 1;
    left: 20px;
    text-align: left;
    white-space: nowrap;
  }

  .textContainer {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .shopNow {
    display: block;
    text-decoration: none;

    > div {
      padding: 1.5rem 3rem;
      color: black;
      background: white;
      transition: all 0.5s;
    }

    &:hover div {
      color: white;
      background: red;
    }
  }

  .startingAt {
    padding-left: 10px;
    border-left: 1px solid red;
    font-size: 0.7em;

    h2 {
      margin: 0;
      color: red;
      font-size: 3.5em;
    }
  }

  .abs.span {
    color: red;
  }

  .abs.h1 {
    margin: 0;
    font-size: 3.5em;
  }

  // Top of each .red at start styles
  .abs.red:nth-child(1) {
    top: 40px;
  }

  .abs.red:nth-child(2) {
    top: 110px;
  }

  .abs.red:nth-child(3) {
    top: 360px;
  }

  .abs.red:nth-child(4) {
    top: 500px;
  }
  // Carousel End
}

// byCategory
$red-color: #fd0202;

.categoriesBox {
  margin-top: 4rem;
}

* {
  box-sizing: border-box;
}

.byCategoryBox {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  display: flex;
  column-gap: 20px;
  align-items: stretch;
  font-size: 2.5em;
  .bigSquare {
    padding: 25px 30px;
    margin-top: 15px;
    background: $red-color;
  }
  .head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span:nth-child(2) {
      font-size: 0.4em;
    }
  }
}

.categories {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  margin-block: 50px 80px;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      top: 75%;
      background: red;
      bottom: 25%;
      transition: bottom 0.5s;
    }
    &:hover::after {
      bottom: 10%;
    }
    &:hover a {
      color: red;
    }

    img {
      transition: transform 0.5s;
    }
    &:hover img {
      transform: scale(1.1);
    }
    // overflow: hidden;
    a {
      text-decoration: none;
      color: black;
      margin-block: 1.3rem 0.3rem;
      font-weight: 800;
    }
    span {
      color: Gray;
      span {
        color: red;
      }
    }
  }
}
// byCategory
// <!-- OrangeBike Start -->
.bigImgTextContainer {
  // margin-inline: 20px;
  position: relative;
  width: 100%;
  max-width: 1350px;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  img {
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    transition: all 0.2s;
  }
  &:hover .abs:nth-child(2)::after {
    bottom: 10%;
  }
  &:hover .abs:nth-child(2) {
    padding-left: 20px;
  }
  &:hover img {
    transform: scale(1.1);
  }
  .abs {
    z-index: 1;
    position: absolute;
    left: 80px;
    color: white;

    &:nth-child(1) {
      top: 200px;
      font-size: 1.5em;
    }
    &:nth-child(2) {
      top: 250px;
      transition: all 0.5s;
      font-size: 2.5em;
      span {
        color: red;
      }
      &::after {
        content: "";
        position: absolute;
        top: 10%;
        left: 0;
        bottom: 90%;
        width: 5px;
        background: red;
        transition: bottom 0.2s;
      }
    }
    &:nth-child(3) {
      top: 450px;
      font-size: 1.5em;
      text-decoration: none;
      padding: 1rem 2rem;
      background: transparent;
      border: 2px solid red;
      color: red;
      transition: all 0.3s;
    }
    &:nth-child(3):hover {
      background: red;
      color: white;
    }
  }
}

// <!-- OrangeBike End -->
